html{scroll-behavior: smooth;
    background-color:rgb(14,5,0)
}
body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
 }
 div{
     margin: 0px;
     padding:0px;
 }
 p{margin:0px;
 padding: 0px;}
a{
        outline: none;
        color:white;
        background-color:Transparent;
        border:none;
        font-size:24px;
        font-family:"Courier";
        cursor:none;
        position: sticky;
        text-decoration-line: none;
        margin:0px;
        padding:0px;
        }

a:active{
     color: rgb(255,128,0);
        }
img{
    margin:0px;
    padding: 0px;
    }


.myFirstImage{
    max-width:100%;
    max-height:100%;
    object-fit: fill;
    width:100vw;
    height:100vh;
    margin:0px;
    padding: 0px;
    vertical-align: bottom;
}



.separator{
    height:12.5vh;
    background-color: rgb(14,5,0);
    margin: 0px;
    margin: 0px;
}

.test-content{
    height:75vh;
    background-color: rgb(255,255,255,0.05);
    margin: 0;
    margin: 0;
    border:0;

}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grabbing;
}

/* STYLE FOR PUBLICATIONS */
.publi-item {
    display: inline-block;
    width:30vw;
    height: 65vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 1px solid rgb(255,255,255);
  }

.publi-item1{
    background-image: url('../paper_image/publi1.png');
    background-size: cover;
    background-position: center;
}
.publi-item2{
    background-image: url('../paper_image/publi2.png');
    background-size: cover;
    background-position: center;
}
.publi-item3{
    background-image: url('../paper_image/publi3.png');
    background-size: cover;
    background-position: center;
}
.publi-item4{
    background-image: url('../paper_image/publi4.png');
    background-size: cover;
    background-position: center;
}
.publi-item5{
    background-image: url('../paper_image/publi5.png');
    background-size: cover;
    background-position: center;
}
.publi-item6{
    background-image: url('../paper_image/publi6.png');
    background-size: cover;
    background-position: center;
}
.publi-item7{
    background-image: url('../paper_image/publi7.png');
    background-size: cover;
    background-position: center;
}

 .publi-item img{
     height:60vh;
     width: 30vh;
     margin-left: auto;
     margin-right: auto;
     margin-top:2.5vh;
     margin-top:2.5vh;
     display: block;
 }

 .publi-item h2,h3{
     text-align: center;
     font-family:"Courier";
     color: white;
     text-decoration-line: none;
     margin-top:5vh;
 }
 .publi-item h5{
     text-align: center;
     font-family:"Courier";
     color: white;
     text-decoration-line: none;
  }

  .card {
      display: inline-block;
      width:60vh;
      height: 75vh;
    }

.card p{color:white;}

/* SCROLL BAR TEST */

/* width */

.scrolling-wrapper::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.scrolling-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: rgb(255,128,0,0.7);
  border-radius: 10px;
  background-image: -webkit-linear-gradient(0deg,
											  rgba(0, 0, 0, 0.2) 25%,
											  rgba(0, 0, 0, 0.4) 50%,
											  rgba(0, 0, 0, 0.2) 75%);
}

/* Handle on hover */
.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgb(255,128,0,1);
  background-image: -webkit-linear-gradient(0deg,
											  rgba(0, 0, 0, 0.2) 25%,
											  rgba(0, 0, 0, 0.4) 50%,
											  rgba(0, 0, 0, 0.2) 75%);
}
